name: builds

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        target: [arm64, x64]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/setup-node@v4
      - uses: oven-sh/setup-bun@v2
      - run: npm install --global node-gyp
      - run: bun install --frozen-lockfile
      - run: bun run typecheck
      - run: bun run test:node
      - if: ${{ matrix.os == 'macos-latest' }}
        run: bun run test:bun
      - run: bun run prebuildify
      - uses: actions/upload-artifact@v4
        with:
          name: libxmljs2-${{ matrix.os }}-${{ matrix.target }}
          path: "prebuilds/**/*.node"
