name: builds

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-20.04
          - windows-latest
        os:
          [
            windows-2025,
            windows-11-arm,
            macos-13,
            macos-15,
            ubuntu-22.04,
            ubuntu-22.04-arm,
          ]
        node: [22, 24]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
        env:
          npm_config_build_from_source: true
      - run: bun run tsd
      - run: bun test
      - run: bun run build
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.node }}-binary
          path: "prebuilds/**/*.tar.gz"
  alpine:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        node: [22, 24]
      fail-fast: true
    container:
      image: node:${{ matrix.node }}-alpine
    steps:
      - uses: actions/checkout@v4
      - run: |
          apk add --no-cache python3 make g++
      - run: bun i --frozen-lockfile
        env:
          npm_config_build_from_source: true
      - run: bun tsd
      - run: bun test
      - run: bun prebuild
      - uses: actions/upload-artifact@v4
        with:
          name: alpine-${{ matrix.node }}-binary
          path: "prebuilds/**/*.tar.gz"
  deploy:
    runs-on: ubuntu-latest
    needs: [alpine, build]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/download-artifact@v4
        with:
          path: prebuilds
      - id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - uses: eine/tip@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.vars.outputs.tag }}
          files: |
            ./prebuilds/**/*.tar.gz
