name: ci

permissions: {}

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        target: [arm64, x64]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/setup-node@v4
      - uses: oven-sh/setup-bun@v2
      - if: ${{ matrix.os == 'macos-latest' }}
        run: brew install automake libtool
      - if: ${{ matrix.os == 'windows-latest' }}
        name: Install dependencies
        run: |
          vcpkg install libiconv
          echo "CMAKE_TOOLCHAIN_FILE=$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" >> $env:GITHUB_ENV
      - run: bun init-submodules
      - run: bun configure
      - run: bun install --frozen-lockfile
      - run: bun run typecheck
      - run: bun run test:node
      - if: ${{ matrix.os == 'macos-latest' }}
        run: bun run test:bun
