name: ci

permissions:
  id-token: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - 'v*'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        target: [arm64, x64]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - uses: actions/setup-node@v4
      - uses: oven-sh/setup-bun@v2
      - if: ${{ matrix.os == 'windows-latest' }}
        run: npm install --global node-gyp
      - run: bun install --frozen-lockfile
      - run: bun run typecheck
      - run: bun run test:node
      - if: ${{ matrix.os == 'macos-latest' }}
        run: bun run test:bun
      - run: bun run prebuildify
      - if: startsWith(github.ref, 'refs/tags/v')
        uses: actions/upload-artifact@v4
        with:
          name: libxmljs2-prebuilds-${{ matrix.os }}-${{ matrix.target }}
          path: "prebuilds/**/*.node"

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - uses: oven-sh/setup-bun@v2
      - uses: actions/download-artifact@v4
        with:
          pattern: libxmljs2-prebuilds-*
          path: prebuilds
          merge-multiple: true
      - run: tree prebuilds
      - run: bun publish --provenance --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
