name: release

permissions: {}

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - uses: actions/download-artifact@v4
        with:
          pattern: libxmljs2-prebuilds-*
          path: prebuilds
          merge-multiple: true
      - run: tree prebuilds
      - run: bun publish --no-git-checks

